*,
::hover,
::after {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: max-content auto max-content;
}

header {
    grid-row: 1;
}

.body-div {
    grid-row: 2;
}

footer {
    grid-row: 3;
}